
<div class="form-java_container helper-padding-top">
    <div class="form-java_container--search">
        <i class="fas fa-search"></i>
        <input type="search" class="form-java__input">
        <button class="button-square color--secondary button-square--rounded">Rechercher</button>
        <!-- <button class="button-square color--secondary button-square--rounded button-square--inverse">Rechercher</button> -->
    </div>
</div>

<div class="table-spring-container col-24 helper-padding-top-s">
    <table class="table-spring table-spring--alternate table-spring--borderless">
        <thead class="table-spring__head--color">
            <tr>
                <th>Nom</th>
                <th>Nombre d'heures</th>
                <th>Nombre d'élèves</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a class="link-normal color--secondary color--secondary color--secondary color--secondary" (click)="openCourseCard();">Mathématique</a></td>
                <td>36 heures</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>

