
<div class="form-java_container helper-padding-top">
    <div class="form-java_container--search">
        <i class="fas fa-search"></i>
        <input type="search" class="form-java__input">
        <button class="button-square button-square--rounded">Rechercher</button>
        <!-- <button class="button-square color--secondary button-square--rounded button-square--inverse">Rechercher</button> -->
    </div>
</div>

<div class="table-spring-container col-24 helper-padding-top-s">
    <table class="table-spring table-spring--alternate table-spring--borderless">
        <thead class="table-spring__head--color">
            <tr>
                <th>Nom</th>
                <th>Nombre d'heures</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courseArray;">
                <td><a tabindex="0" class="link-normal color--secondary color--secondary color--secondary color--secondary" (click)="openCourseCard(555);">{{course.theme}}</a></td>

                <td><a tabindex="0" class="link-normal color--secondary color--secondary color--secondary color--secondary" (click)="openCourseCard(course.id);">{{course.theme}}</a></td>
                <td>{{course.hours}} heures</td>
            </tr>
        </tbody>
    </table>
</div>

