<div *ngIf="course" class="row helper-padding-l color-bg--theme">
    <div class="col-8 col-md-24">
        <h1>{{course.theme}}</h1>
        <h2 class="helper-padding-top-s text-lighter">Cours #{{course.id}}</h2>
        <p class="helper-padding-top-s" *ngIf="numberOfStudents > 1">{{numberOfStudents}} étudiants</p>
        <p class="helper-padding-top-s" *ngIf="numberOfStudents <= 1">{{numberOfStudents}} étudiant</p>
        <p class="helper-padding-top-s">{{course.hours}} heures de cours</p>
    </div>
</div>