<div class="row">
    <h1 class="helper-padding-top--xl col-24">Créer un compte</h1>
    <p class="helper-padding-top--s helper-padding-bot col-24">Vous devez créer un compte avant de pouvir vous connecer sur cette application.</p>
    
    <div class="form-java_container col-24">
        <label class="form-java__label">Email</label>
        <input type="text" class="form-java__input form-java__input--s">
    </div>

    <div class="form-java_container col-6">
        <label class="form-java__label">Mot de passe</label>
        <input type="password" class="form-java__input form-java__input--l">
    </div>

    <div class="form-java_container col-6">
        <label class="form-java__label">Confirmer le mot de passe</label>
        <input type="password" class="form-java__input form-java__input--l">
    </div>

    <div class="col-24">
        <button class="button-square color--secondary button-square--reverse helper-margin-top">Créer un compte</button>
    </div>
</div>