<div class="row">
    <h1 class="helper-padding-top--xl col-24">{{id ? "Modifier "+student.firstName+" "+student.lastName : "Créer un
        étudiant"}}</h1>
    <!-- <h1 class="helper-padding-top--xl col-24">Modifier {{student.firstName + " " + student.lastName}}</h1> -->
    <p class="helper-padding-top--s helper-padding-bot col-24">Vous devez vous connecter au site afin d'accéder à ses
        magnifiques fonctionalités.</p>

    <p *ngIf="id" class="helper-padding-top--s helper-padding-bot col-24"><a class="link-normal color--secondary"
            (click)="openStudentInfo();"><i class="fa-solid fa-arrow-left"></i> Retourner à {{student.firstName + " " + student.lastName}}</a></p>

    <div [className]="submitted && error ? 'error col-24' : 'error--invisible col-24'" *ngIf="submitted && error"
        class="col-24">
        <span>{{error}}</span>
    </div>
</div>
    <form [formGroup]="studentForm" class="row" (ngSubmit)="onSubmit()">
        <div class="form-java_container col-8 col-md-12">
            <label class="form-java__label">Prénom</label>
            <input formControlName="firstName" type="text" class="form-java__input form-java__input">
        </div>

        <div class="form-java_container col-8 col-md-12">
            <label class="form-java__label">Nom</label>
            <input formControlName="lastName" type="text" class="form-java__input form-java__input">
        </div>

        <div class="form-java_container col-8 col-md-12">
            <label class="form-java__label">Date de naissance</label>
            <input formControlName="birthDate" type="date" class="form-java__input form-java__input--s">
        </div>

        <div class="form-java_container col-8 col-md-12">
            <label class="form-java__label">Numéro de téléphone</label>
            <input formControlName="phoneNumber" type="text" class="form-java__input form-java__input--s">
        </div>

        <div class="form-java_container col-8 col-md-12">
            <label class="form-java__label">Email</label>
            <input formControlName="mail" type="text" class="form-java__input form-java__input">
        </div>

        <div class="form-java_container col-8 col-md-12">
            <label class="form-java__label">Adresse</label>
            <input formControlName="address" type="text" class="form-java__input form-java__input--l">
        </div>

        <div class="col-24">
            <button [disabled]="!studentForm.valid" [ngClass]="!studentForm.valid ? 'color--theme color--opposite button--desactivate' : 'color--secondary' " type="submit"
                class="button-square button-square--reverse helper-margin-top">{{id ? "Modifier
                "+student.firstName+" "+student.lastName : "Créer l'étudiant"}}</button>
        </div>
    </form>
