
<button class="button-square color--secondary button-square--reverse" (click)="openStudentNew();">Créer un étudiant</button>

<div class="form-java_container helper-padding-top">
    <div class="form-java_container--search">
        <i class="fas fa-search"></i>
        <input [(ngModel)]="searchVal" (keyup.enter)="filter()" type="search" class="form-java__input">
        <button class="button-square button-square--rounded" (click)="filter()">Rechercher</button>
    </div>
</div>
<div class="table-spring-container col-24 helper-padding-top-s">
    <table class="table-spring table-spring--alternate table-spring--borderless">
        <thead class="table-spring__head--color">
            <tr>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentArrayDisplay;">
                <td><a tabindex="0" href="/students/{{student.id}}" class="link-normal color--secondary">{{student.firstName}} {{student.lastName}}</a></td>
                <td>{{student.birthDate | date:'dd/MM/yyyy' }}</td>
                <td>{{student.mail}}</td>   
            </tr>
        </tbody>
    </table>
</div>

