
<div class="form-java_container helper-padding-top">
    <div class="form-java_container--search">
        <i class="fas fa-search"></i>
        <input type="search" class="form-java__input">
        <button class="button-square button-square--rounded">Rechercher</button>
        <!-- <button class="button-square color--secondary button-square--rounded button-square--inverse">Rechercher</button> -->
    </div>
</div>

<div class="table-spring-container col-24 helper-padding-top-s">
    <table class="table-spring table-spring--alternate table-spring--borderless">
        <thead class="table-spring__head--color">
            <tr>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentArray;">
                <td><a href="/students/1" class="link-normal">{{student.firstName}}</a></td>
                <td>11/04/1995</td>
                <td>jean@pierre.com</td>
            </tr>
        </tbody>
    </table>
</div>

