<nav class="navbar-music">
    <div>
        <a class="navbar-music__logo navbar-music__logo--basic" routerLink="/" routerLinkActive="active">  
            <span class="navbar-music__logo--basic"><i class="fa-solid fa-school"></i>&nbsp;&nbsp;&nbsp;Gestion Scolaire</span>
        </a>
    </div>
    <div>   
        <a class="navbar-music__link" routerLink="students/new" routerLinkActive="active">Créer un étudiant</a>
        <a class="navbar-music__link" routerLink="students" routerLinkActive="active">Liste des étudiants</a>
        <a class="navbar-music__link" routerLink="courses" routerLinkActive="active">Liste des cours</a>
        <a class="navbar-music__link" routerLink="login" routerLinkActive="active">Mon compte</a>
    </div>
</nav>