<div class="frame frame--padd color-bg--theme">
    <div class="row footer-vite">
        <div class="col-16 col-md-24">
            <h3>À propos de nous</h3>
            <p>Gestion Scolaire est le leader dans le marché des logiciels de gestion d'établissement réalisé dans le cadre d'un partiel dans une école situé dans les Yvelines. Gestion Scolaire est une marque déposé et pas deux mots aléatoires mis à la suite.</p>
        </div>
        <div class="col-8 col-md-24">
            <h3>Liens utiles</h3>
            <a href="https://www.captaincontrat.com/contrats-commerciaux-cgv/cgv-cgu-cga/cgu-conditions-generales-utilisation#:~:text=CGU%20%3A%20d%C3%A9finition,de%20l'utilisation%20du%20site." target="_blanke" rel="no-referrer noopeneer" class="link-normal color--secondary">Condition générales d'utilisation</a>
            <br>
            <a href="https://entreprendre.service-public.fr/vosdroits/F31228#:~:text=Les%20mentions%20l%C3%A9gales%20sont%20les,ou%20dans%20une%20page%20d%C3%A9di%C3%A9e." target="_blanke" rel="no-referrer noopeneer" class="link-normal color--secondary helper-margin-top-s">Mentions légales</a>
            <br>
            <a href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on" target="_blanke" rel="no-referrer noopeneer" class="link-normal color--secondary helper-margin-top-s">RGPD</a>
            <br>

 
        </div>
    </div>
</div>