<div class="row">
    <h1 class="helper-padding-top--xl col-24">Associer un cours à {{student.firstName}} {{student.lastName}}</h1>
    <p class="helper-padding-top--s helper-padding-bot col-24"><a class="link-normal color--secondary" (click)="openStudentInfo();"><i class="fa-solid fa-arrow-left"></i> Retourner à {{student.firstName}} {{student.lastName}}</a></p>
    
    <div class="form-java_container col-24">
        <label class="form-java__label">Cours</label>
        <select [(ngModel)]="selectedCourse" class="form-java__input form-java__input--s" name="" id="">
            <option selected="selected" disabled>Choisir un cours...</option>
            <option *ngFor="let course of courseArray" value="{{course.id}}">{{course.theme}}</option>
        </select>
    </div>

    <div class="col-24">
        <button class="button-square color--secondary button-square--reverse helper-margin-top" (click)="associateCourse()">Associer le cours</button>
    </div>
</div>