<div class="row">
    <h1 class="helper-padding-top--xl col-24">Associer un cours à Jean Pierre</h1>
    <p class="helper-padding-top--s helper-padding-bot col-24"><a class="link-normal" href="/students/1"><i class="fa-solid fa-arrow-left"></i> Retourner à Jean Pierre</a></p>
    
    <div class="form-java_container col-24">
        <label class="form-java__label">Cours</label>
        <select class="form-java__input form-java__input--s" name="" id="">
            <option selected="selected">Choisir un cours...</option>
            <option>Mathématique</option>
            <option>Français</option>
        </select>
    </div>

    <div class="col-24">
        <button class="button-square button-square--reverse helper-margin-top">Associer le cours</button>
    </div>
</div>