<div class="row">
    <h1 class="helper-padding-top--xl col-24">Se connecter</h1>
    <p class="helper-padding-top--s helper-padding-bot col-24">Vous devez vous connecter au site afin d'accéder à ses magnifiques fonctionalités.</p>
    
    <div class="form-java_container col-24">
        <label class="form-java__label">Email</label>
        <input type="text" class="form-java__input form-java__input--s">
    </div>

    <div class="form-java_container col-24">
        <label class="form-java__label">Mot de passe</label>
        <input type="password" class="form-java__input form-java__input--s">
    </div>

    <button class="button-square button-square--reverse helper-margin-top">Accéder au site</button>
</div>